<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>IMAGE</th>
            <th>MODEL</th>
            <th>PRICE</th>
            <th>RATING</th>
            <th>DETAILS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td class="product-image">
                <img src="../../assets/images/{{product.img}}">
            </td>
            <td>
                {{product.model}}
            </td>
            <td>
                {{product.price}}
            </td>
            <td>
                {{product.rating}}
            </td>
            <td>
                <a  class="btn btn-outline-dark" [routerLink]="['/pdp', product.id]">VIEW DETAILS</a>
            </td>
        </tr>
    </tbody>
</table>
